body {
  font: helvetica, sans-serif;
  font-size: 20px;
  font: helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  border: solid;
  border-color: #d4afcd;
  border-width: 10px;
  color: #d4afcd;
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/3ac5b424607907.5633711d47ccf.jpg);
  /* padding: 300px; */
  padding-top: 135px;
  padding-bottom: 45px;
  background-color: rgb(255,255,255);
  /*background-color: rgb(255,255,255);*/

}

h1 {
  font-family: Lucinda Console, sans-serif;
  text-align: center;
  font-size: 65px;
  border-style: solid;;
  border-top-color: #d4afcd;
  border-left: none;
  border right: none;
  border-top-width: thin;
  border-bottom-color: #d4afcd;
  border-top-color: thin;
  letter-spacing: 35px;
  margin-top: 2px;
  background-color: black;
  opacity: .7;
  width: 100%;
}

h2 {
  font-family: Lucinda Console, sans-serif;
  font-size: 25px;
  letter-spacing: 15px;
  margin-top: 15px;
}

p {
  padding-left: 75px;
  padding-right: 75px;
  opacity: 1;
  /*color: #EF2EF9;*/
}

address {
  padding-bottom: 25px;
  border-style: solid;
}

ol {
  list-style: none;
}

ul {
  list-style: none;
}
#wrapper {
  margin-left:10%;
  margin-right:10%;
  background-color: black;
  border: solid;
  border-color: #d4afcd;
  border-width: 5px;
  opacity: .7;
  /*width: 100%;*/
}
/*#EF2EF9 nice magenta color*/
